.timer {
    margin-top: 20px;
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
}

.button {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: #2b469e;
    border-radius: 20px;
    border-width: 0px;
    transition: 0.2s ease-in;
}

.button:hover {
    transform: scale(0.9);
    color: #bfe977;
}

.size {
    font-size: 25px;
}

.back {
    background-image: linear-gradient(to right, #0f0c29, #24243e);
    width: 100vw;
    background-size: cover;
    height: 100vh;
}